
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link type="text/css" href="../static/style.css" rel="stylesheet" />
    <style>
        body { font-family: Helvetica, sans-serif; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 8px; margin-bottom: 2px; background-color: hsl(0, 0%, 90%); }
        #form { display: flex; }
        #input { flex: 1; padding: 10px; }
        #send { padding: 10px; }
    </style>
</head>
<body>
    <div class="header">
        <ul valign=top id="mainmenu" class="mainmenu">
            <li><a href="http://127.0.0.1:5000"><h1>Chat Application</h1></a></li>
            <li><a href="register"><h1>Registr</h1></a></li>
            <li><a href="login"><h1>Login</h1></a></li>
            <li><a href="logout"><h1>Log out</h1></a></li>
        </ul>
        <div class="clear"></div>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>

