{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
      <h3>{{ message }}</h3>
      {% endfor %}
   {% endif %}
{% endwith %}
<form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>

</form>
<p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
{% endblock %}